*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    
}

ul{
    display: flex;
    list-style-type: none;
}

header{
    display: flex;
}

.container1 {
    width: 1200px;
    height: 100px;
    background-color: #730000;
    display: flex;
}

.cont1-1{
    width: 64px;
    height: 100px;
    background-color: #ff0000;
}

.cont1-2{
    width: 182px;
    height: 100px;
    background-color: #001aff;
}

.cont1-3{
    width: 488px;
    height: 100px;
    background-color: #37ff00;
}

.cont1-4{
    width: 274px;
    height: 100px;
    background-color: #ccff00;
}



.container2{
    width: 1200px;
    height: 540px;
    background-color: #ffffff;
    display: flex;
}

.cont2-1{
    width: 793px;
    height: 540px;
    background-color: #001347;
}

.cont2-2{
    width: 387px;
    height: 540px;
    background-color: #49003d;
}

.container3{
    width: 1200px;
    height: 790px;
    background-color: #ffffff;
    display: flex;
}

.cont3-1{
    width: 590px;
    height: 790px;
    background-color: #ffffff;
}

.cont3-2{
    width: 590px;
    height: 790px;
    background-color: #ffffff;
}

.cont4-1 {
    width: 1200px;
    height: 250px;
    background-color: #672036;
}

.container5 {
    width: 1200px;
    height: 520px;
    background-color: #00470f;
    display: flex;
}

.cont6-1 {
    width: 1200px;
    height: 250px;
    background-color: #ae5893;
}

.cont3-1-1{
    width: 590px;
    height: 320px;
    background-color: #5d6477;
}

.cont3-1-2{
    width: 590px;
    height: 180px;
    background-color: #001aff;
}

.cont3-1-3{
    width: 590px;
    height: 250px;
    background-color: #00470f;
}

.cont3-2-1{
    width: 590px;
    height: 100px;
    background-color: #006c74;
}

.cont3-2-2{
    width: 590px;
    height: 400px;
    background-color: #37ff00;
}

.cont3-2-3{
    width: 590px;
    height: 250px;
    background-color: #49003d;
}

.cont5-1{
    width: 240px;
    height: 520px;
    background-color: #ff0000;
}

.cont5-2{
    width: 240px;
    height: 520px;
    background-color: #0400ff;
}

.cont5-3{
    width: 240px;
    height: 520px;
    background-color: #ff0000;
}
    
.cont5-4{
    width: 240px;
    height: 520px;
    background-color: #0400ff;
}